	*{
		margin:0;
		padding: 0;
		font-family:"微软雅黑"
	}


    .head{
    	  height: 67px;
    	  background: #2c84ff;
    	  width: 100%;
    	

    }
     a{
     	text-decoration: none;
     	color:#fffaff;
        line-height:67px;
     }
     .head img{
     	   margin-bottom: -6px;
     }
     a.aa{
     	    margin-left:37px;
     	    margin-right: 118px; 
     }
     a.bb{
     	    margin-left:48px;
     	    margin-right:726px;
     	    font-size: 24px;
     	    font-weight: bolder;
     }
     .cc{
     	  margin-left:70px;
     	  margin-right:14px;
     }
    .dd{
     	 margin-left:53px;
     }
 

     
     	  /*width: 266px;*/
     	  /*background: #333d4b;*/
     	  /*position: absolute;*/
     	  /*margin-top:67px;*/
     	 /* bottom: 0;*/
     	  /*left:0;*/
          /*overflow: auto;*/

     
     .box1{
     	  display:inline-block;
     	  position: relative;
     	  top: 0;
     	  left:0;
     	  /*display: block;*/
           
     }

     .box2{
     	  position: absolute;
     	  top: 67px;
     	  width: 160px;
     	  
     	  /*background:#ffffff;*/
     	  border-radius: 5%;
     	  border:1px solid #e5e5e5;
     	  display:none;
     	  z-index: 14265436838;

     }
    .box2 a{
    	  
    	   color:black;
    	   line-height:42px;


    }
    .word{
    	    height: 42px;
    	    border:1px solid #e5e5e5;
            text-indent: 21px;
    	    
    }
  .box2 a:hover {
  	          color: skyblue;
  }
  .box1:hover .box2{
  	          display: block;
  }
